<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Bootstrap icons-->
    <link th:href="@{/css/universityView.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="background-color: white;">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="">진로상담</a></li>
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="majorInfo">학과정보</a></li>
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="universityInfo">대학정보</a></li>
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="companyInfo">기업정보</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="app">
    <table>
        <caption></caption>
        <thead>
        <tr>
            <th>기준년도 </th>
            <th>학교명</th>
            <th>전형유형명</th>
            <th>전형대분류</th>
            <th>전형중분류</th>
            <th>전형소분류</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="paging">
        <select id="countPerPage">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
        <div style="display: flex; align-items: center;">
            <!-- Fontawesome Icon -->
            <i class="fa-solid fa-angles-left" id="first_page"></i>
            <i class="fa-solid fa-angle-left" id="prev_page"></i>
            <!--  -->
            <div class="pages">
                <span class="active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
            </div>
            <!-- Fontawesome Icon -->
            <i class="fa-solid fa-angle-right" id="next_page"></i>
            <i class="fa-solid fa-angles-right" id="last_page"></i>
        </div>
        <div>
            Total: <span class="total">0</span>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Core theme JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/jquery.blockUI.js}"></script>
<script th:src="@{/js/pagination.js}"></script>
</body>
</html>
