<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/style.css?ver=<%=System.currentTimeMillis()%>}" rel="stylesheet">
    <link th:href="@{/css/universityView.css?ver=<%=System.currentTimeMillis()%>}" rel="stylesheet">
    <style>
        .th {
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }
        .page-link {
            text-decoration-line: none;
        }
    </style>
</head>
<body style="background-color: white;">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark1">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="">진로상담</a></li>
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="majorInfo">학과정보</a></li>
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="universityInfo">대학정보</a></li>
                <li class="nav-item"><a class="nav-link" style="text-decoration: none;" href="companyInfo">기업정보</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="ftco-section" style="padding:1rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"><h2>Customer <b>Details</b></h2></div>
            <div class="col-sm-4">
                <div class="search-box">
                    <i class="material-icons">&#xE8B6;</i>
                    <input type="text" class="form-control" id="searchInput" onkeyup="ajax()" placeholder="Search&hellip;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- page count -->
                <div id="page_info"></div>
                <!-- board -->
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>기준년도</th>
                            <th>설립구분명</th>
                            <th>학교명</th>
                            <th>전형유형명</th>
                            <th>전형대분류</th>
                            <th>전형중분류</th>
                            <th>전형소분류</th>
                            <th>View More</th>
                        </tr>
                        </thead>
                        <tbody id="html_list">
                        </tbody>
                    </table>
                    <!-- pagination -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" id="paging">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark1">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Core theme JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script th:src="@{/js/jquery.blockUI.js}"></script>-->
<script th:src="@{/js/pagination.js?ver=<%=System.currentTimeMillis()%>}"></script>
</body>
</html>
